.wrap-title-block {
    margin: 0px 0px 50px 6px;
}

.wrap-title-block:last-child {
    margin: 0px;
}

.wrap-title-block__title {
    margin: 0px;
    display: inline-block;
    font-family: Montserrat-regular;
    padding: 0px 0px 0px 0px;
}

.wrap-title-block__paragraph {
    margin: 0px;
    display: inline-block;
    width: 336px;
    line-height: 30px;
}

.wrap-title-block__title__h1-light {
    font-size: 24px;
    color: rgba($color: $dark_shade, $alpha: 0.25);
    padding: 0px 25px 0px 0px;
    vertical-align: top;
}

.wrap-title-block__title__h2-light {
    font-size: 19px;
    color: rgba($color: $dark_shade, $alpha: 0.25);
    padding: 0px 25px 0px 2px;
    vertical-align: top;
}

.wrap-title-block__title__h3-light {
    font-size: 12px;
    color: rgba($color: $dark_shade, $alpha: 0.25);
    padding: 0px 25px 0px 12px;
    vertical-align: top;
}

.wrap-title-block__title__body-light {
    font-size: 14px;
    color: rgba($color: $dark_shade, $alpha: 0.25);
    padding: 0px 25px 0px 0px;
    vertical-align: top;
}

.wrap-title-block__paragraph__h1 {
    font-size: 24px;
    line-height: 30px;
    font-family: Quicksand-bold;
}

.wrap-title-block__paragraph__h2 {
    font-size: 19px;
    line-height: 24px;
    font-family: Quicksand-bold;
}

.wrap-title-block__paragraph__h3 {
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat-bold;
    text-transform: uppercase;
}

.wrap-title-block__paragraph__body {
    font-size: 14px;
    line-height: 20px;
    font-family: Montserrat-regular;
    color: rgba($color: $dark_shade, $alpha: 0.75);
    width: 315px;
}
// .wrap-title-block__paragraph__montserrat-regular {
//     font-family: Montserrat-regular;
// }

// .wrap-title-block__paragraph__montserrat-bold {
//     font-family: Montserrat-bold;
// }

// .wrap-title-block__paragraph__quicksand-regular {
//     font-family: Quicksand-regular;
// }

// .wrap-title-block__paragraph__quicksand-bold {
//     font-family: Quicksand-bold;
// }