$dark_shade: #1f2041;

.wrap-color-block {
    display: flex;
    margin: 0px 0px 20px 0px;
    height: 70px;
    align-items: center;
}

.wrap-color-block__rectangle{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px 0px;
    border-radius: 6px;
}

.wrap-color-block__recktangle_dark_shade100 {
    background-color: $dark_shade;
}

.wrap-color-block__recktangle_dark_shade75 {
    background-color: rgba($color: $dark_shade, $alpha: 0.75);
}

.wrap-color-block__recktangle_dark_shade50 {
    background-color: rgba($color: $dark_shade, $alpha: 0.5);
}

.wrap-color-block__recktangle_dark_shade25 {
    background-color: rgba($color: $dark_shade, $alpha: 0.25);
}

.wrap-color-block__recktangle_dark_shade5 {
    background-color: rgba($color: $dark_shade, $alpha: 0.05);
}

.wrap-color-block__rectangle_purple {
    background-color: #BC9CFF;
}

.wrap-color-block__rectangle_green {
    background-color: #6FCF97;
}

.wrap-color-block__text {
    margin: 0px 0px 0px 40px;
}

.color-text {
    margin: 0px 0px 0px 0px;
    font-family: Quicksand-bold;
    font-size: 19px;
    line-height: 29px; //??
}

.color-hex {
    margin: 0px 0px 0px 0px;
    font-family: Quicksand-regular;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 30px; //??
}

