body {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
}

.main-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

@media (max-width: 1360px){
    body {
        width: 1170px;
    }
}

.column-color-block {
    width: 50%;
    padding: 63px 0px 0px 150px;
}

.column-title-block {
    width: 50%;
    padding: 63px 0px 0px 110px;
}

.logo {
    padding: 30px 0px 0px 30px;
}


