main(class="main-block")
    div(class="column-color-block")
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__recktangle_dark_shade100")
            div(class="wrap-color-block__text")
                p(class="color-text") Dark Shade 100%
                p(class="color-hex") #1F2041
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__recktangle_dark_shade75")
            div(class="wrap-color-block__text")
                p(class="color-text") Dark Shade 75%
                p(class="color-hex") #1F2041
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__recktangle_dark_shade50")
            div(class="wrap-color-block__text")
                p(class="color-text") Dark Shade 50%
                p(class="color-hex") #1F2041
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__recktangle_dark_shade25")
            div(class="wrap-color-block__text")
                p(class="color-text") Dark Shade 25%
                p(class="color-hex") #1F2041
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__recktangle_dark_shade5")
            div(class="wrap-color-block__text")
                p(class="color-text") Dark Shade 5%
                p(class="color-hex") #1F2041
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__rectangle_purple")
            div(class="wrap-color-block__text")
                p(class="color-text") Purple
                p(class="color-hex") #BC9CFF
        div(class="wrap-color-block")
            div(class="wrap-color-block__rectangle wrap-color-block__rectangle_green")
            div(class="wrap-color-block__text")
                p(class="color-text") Green
                p(class="color-hex") #6FCF97
    div(class="column-title-block")
        div(class="wrap-title-block")
            h1(class="wrap-title-block__title wrap-title-block__title__h1-light") H1
            p(class="wrap-title-block__paragraph wrap-title-block__paragraph__h1") This one is the sub-section or widget title
        div(class="wrap-title-block")
            h1(class="wrap-title-block__title wrap-title-block__title__h2-light") H2
            p(class="wrap-title-block__paragraph wrap-title-block__paragraph__h2") Next one is the item title inside widgets
        div(class="wrap-title-block")
            h1(class="wrap-title-block__title wrap-title-block__title__h3-light") H3
            p(class="wrap-title-block__paragraph wrap-title-block__paragraph__h3") This is a label or cta text
        div(class="wrap-title-block")
            h1(class="wrap-title-block__title wrap-title-block__title__body-light") Body
            p(class="wrap-title-block__paragraph wrap-title-block__paragraph__body") This is the body text which is used for most of the design, like paragraphs, lists, etc.
