$border_color: #1f2041;

.card-find-block {
    width: 380px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-find-block__datepicker-init {
    width: 150px;
    height: 44px;
    box-sizing: border-box;
    padding: 12px 32px 8px 15px;
    border-radius: 4px;
    border: 1px solid rgba($color: $border_color, $alpha: 0.25)
}

.card-find-block__label {
    display: block;
}

.card-find-block__fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-find-block_guest-quantity {
    height: 44px;
    box-sizing: border-box;
}

.test-inline {
    // display: inline;
}

// стили для datepciker (перенести)
.datepicker--pointer {
    display: none;
}

.datepicker {
    width: 320px;
}