div(class="standart-creative-block")
    div(class="standart-creative-block__description")
        a(class="standart-footer-block__color_logo_svg" href="#")
            include ../../../../pages/templates/color_logo.svg
        p(class="standart-footer-block_description-text standart-footer-block_description-text__center") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        div(class="standart-footer-block__social")
            a(class="standart-footer-block__twitter" href="#")
                include ../../../../pages/templates/twitter.svg
            a(class="standart-footer-block__facebook" href="#")
                include ../../../../pages/templates/facebook.svg
            a(class="standart-footer-block__instagram" href="#")
                include ../../../../pages/templates/instagram.svg