footer(class="standart-footer-block")
    div(class="standart-footer-block__description")
        a(class="standart-footer-block__color_logo_svg" href="#")
            include ../../../../pages/templates/color_logo.svg
        p(class="standart-footer-block_description-text") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.         
    ul(class="standart-footer-block__navigation")
        li
            h3(class="standart-footer-block__h3") Navigation
        li
            a(class="standart-footer-block__link" href="#") About Us
        li
            a(class="standart-footer-block__link" href="#") News
        li
            a(class="standart-footer-block__link" href="#") Support
        li
            a(class="standart-footer-block__link" href="#") Products
    ul(class="standart-footer-block__about-us")
        li
            h3(class="standart-footer-block__h3") About Us
        li
            a(class="standart-footer-block__link" href="#") Who we are
        li
            a(class="standart-footer-block__link" href="#") Our team
        li
            a(class="standart-footer-block__link" href="#") Careers
        li
            a(class="standart-footer-block__link" href="#") Investors
    ul(class="standart-footer-block__support")
        li
            h3(class="standart-footer-block__h3") Support
        li
            a(class="standart-footer-block__link" href="#") Documentation
        li
            a(class="standart-footer-block__link" href="#") Community
        li
            a(class="standart-footer-block__link" href="#") Get in Touch
    div(class="standart-footer-block__subscribe")
        h3(class="standart-footer-block__h3") Subscribe to our newsletter
        p(class="standart-footer-block__subscribe-text") Receive our latest news and promotions in your inbox!
        form(method="post" action="mailto:admin@toxin.com" enctype="text/plain" name="subscribe" maxlength="50" placeholder="Your email address" class="standart-footer-block__form")
            input(type="text" placeholder="Your email address" class="standart-footer-block__input")
            button(class="standart-footer-block__button")
                include ../../../../pages/templates/arrow.svg
div(class="standart-footer-block__copyright")
    p(class="standart-footer-block__copyright-text") Copyright © 2018 Toxin UI Kit. All rights reserved.
    div(class="standart-footer-block__social")
        a(class="standart-footer-block__twitter" href="#")
            include ../../../../pages/templates/twitter.svg
        a(class="standart-footer-block__facebook" href="#")
            include ../../../../pages/templates/facebook.svg
        a(class="standart-footer-block__instagram" href="#")
            include ../../../../pages/templates/instagram.svg
div(class="standart-creative-block")
    div(class="standart-creative-block__description")
        a(class="standart-footer-block__color_logo_svg" href="#")
            include ../../../../pages/templates/color_logo.svg
        p(class="standart-footer-block_description-text standart-footer-block_description-text__center") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        div(class="standart-footer-block__social")
            a(class="standart-footer-block__twitter" href="#")
                include ../../../../pages/templates/twitter.svg
            a(class="standart-footer-block__facebook" href="#")
                include ../../../../pages/templates/facebook.svg
            a(class="standart-footer-block__instagram" href="#")
                include ../../../../pages/templates/instagram.svg

        

    