nav(class="standart-navbar-block")
    a(class="color_logo_svg" href="#")
        include ../../../../pages/templates/color_logo.svg
    ul(class="standart-navbar-block__nav-links")
        li
            a(class="standart-navbar-block__nav-links__light") Home
        li
            a(class="standart-navbar-block__nav-links__light") About Us
        li
            a(class="standart-navbar-block__nav-links__light standart-navbar-block__nav-links__not-padding") Services 
        li
            a(class="standart-navbar-block__dropdown")
                include ../../../../pages/templates/expand_more.svg
        li
            a(class="standart-navbar-block__nav-links__light") Careers
        li
            a(class="standart-navbar-block__nav-links__light") News
        li
            a(class="standart-navbar-block__nav-links__light-doc") Documentation
        li(class="standart-navbar-block__li-button")
            a(class="standart-navbar-block__login") Login
        li(class="standart-navbar-block__li-button")
            a(class="standart-navbar-block__register") Register