form(action="#" name="find-room" class="card-find-block")
    legend Найдем номера под ваши желания
    div(class="card-find-block__fieldset")
        div(class="card-find-block__in")
            label(class="card-find-block__label") Прибытие
            input(type="text" class="card-find-block__datepicker-init datepicker-show input")
        div(class="card-find-block__out")
            label(class="card-find-block__label") Выезд
            input(type="text" class="card-find-block__datepicker-init output")
    label Гости
    input(class="card-find-block_guest-quantity")
    button(class="btn" onclick="test1();") Подобрать номер