.standart-creative-block {
    display: flex;
    margin: 40px 0px 0px 0px;
    height: 367px;
    // margin: 100px 0px 0px 140px;
    list-style-type: none;
    font-family: Montserrat-regular;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.standart-creative-block__description {
    display: flex;
    width: 500px;
    // margin: 100px 0px 0px 140px;
    font-family: Montserrat-regular;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.standart-footer-block_description-text__center {
    text-align: center;
}