$text_color: #1F2041;

.standart-footer-block {
    display: flex;
    // width: 100%;
    background-color: #FFFFFF;
    padding: 98px 0 100px 140px;
}

.standart-footer-block__description {
    width: 260px;
    // margin: 100px 0px 0px 140px;
    list-style-type: none;
    font-family: Montserrat-regular;
}

.standart-footer-block__color_logo_svg {
    // margin: 100px 0px 0px 140px;
    display: block;
    list-style-type: none;
}

.standart-footer-block__navigation {
    list-style-type: none;
    margin: 0px 116px 0px 0px;
}

.standart-footer-block__about-us {
    list-style-type: none;
    margin: 0px 116px 0px 0px;
    padding-left: 0px;
}

.standart-footer-block__support {
    list-style-type: none;
    margin: 0px 90px 0px 0px;
    padding-left: 0px;
}

.standart-footer-block__link {
    display: block;
    text-decoration: none;
    margin: 20px 0px 0px 0px;
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    color: rgba($color: $text_color, $alpha: 0.5)
}

.standart-footer-block__h3 {
    margin: 4px 0px 0px 0px;
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat-bold;
    text-transform: uppercase;
}

.standart-footer-block__subscribe {
    width: 215px;
}

.standart-footer-block_description-text {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 24px;
    color: rgba($color: $text_color, $alpha: 0.75)
}

.standart-footer-block__subscribe-text {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 24px;
    color: rgba($color: $text_color, $alpha: 0.75)
}

.standart-footer-block__form {
    padding-top: 10px;
    display: flex;
    width: 260px;
}

.standart-footer-block__input {
    width: 260px;
    height: 44px;
    border: 1px solid rgba($color: $text_color, $alpha: 0.25);
    border-right: none;
    padding: 12px 0px 12px 15px;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-regular;
}

.standart-footer-block__button {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid rgba($color: $text_color, $alpha: 0.25);
    border-left: none;
    background-color: #FFFFFF;
    width: 44px;
    height: 44px;
    border-radius: 0px 4px 4px 0px;
}

.standart-footer-block__copyright {
    margin: 0px;
    padding: 26px 140px 26px 140px;
    background-color: #FFFFFF;
    border-top: 1px solid #E5E5E5;
    display: flex;
    // width: 100%;
    justify-content: space-between;
}

.standart-footer-block__copyright-text {
    font-size: 14px;
    line-height: 17px;
    color: rgba($color: $text_color, $alpha: 0.75);
    font-family: Montserrat-regular;
    margin: 0px;
}

.standart-footer-block__instagram {
    padding-left: 20px;
    text-decoration: none;
}

.standart-footer-block__facebook {
    padding-left: 20px;
    text-decoration: none;
}

.standart-footer-block__twitter {
    padding-left: 20px;
    text-decoration: none;
}

.standart-creative-block {
    display: flex;
    margin: 40px 0px 0px 0px;
    height: 367px;
    // margin: 100px 0px 0px 140px;
    list-style-type: none;
    font-family: Montserrat-regular;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.standart-creative-block__description {
    display: flex;
    width: 500px;
    // margin: 100px 0px 0px 140px;
    font-family: Montserrat-regular;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.standart-footer-block_description-text__center {
    text-align: center;
}