// .header-footer-body {
//     background-color: #E5E5E5;
//     width: 100%;
// }
$shadow_color: #1F2041;
$text_color: #1F2041;

.header-main-block {
    background-color: #F4F4F6;
}

.standart-navbar-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    margin: 70px 0px 40px 0px;
    background-color: #ffffff; 
    box-shadow: 0px 10px 20px rgba($color: $shadow_color, $alpha: 0.05);
}

.color_logo_svg {
    padding: 0px 0px 0px 140px;
}

.standart-navbar-block__nav-links {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
}

.standart-navbar-block__nav-links__light {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 30px 0px 0px;
    color: rgba($color: $text_color, $alpha: 0.5);
}

.standart-navbar-block__nav-links__light-doc {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 25px 0px 0px;
    color: rgba($color: $text_color, $alpha: 0.5);
}

.standart-navbar-block__nav-links__bold {
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    padding: 0px 20px 0px 0px;
    color: #BC9CFF;
    text-transform: uppercase;

}

.standart-navbar-block__nav-links__not-padding {
    padding: 0px;
}

.standart-navbar-block__dropdown {
    padding: 0px 20px 0px 0px;
}

.standart-navbar-block__login {
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    // border-image: linear-gradient(180deg, #BC9CFF, #8BA4F9);
    // border-image: linear-gradient(to bottom, red 0, purple 100%);
    border: 1px solid #BC9CFF;
    border-radius: 22px;
    padding: 9px 20px 9px;
    color: #BC9CFF;
    text-transform: uppercase;
}

.standart-navbar-block__register {
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #BC9CFF;
    border-radius: 22px;
    padding: 9px 20px 9px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.standart-navbar-block__li-button {
    margin: 0px 20px 0px 0px;
}
// .standart-navbar-block__about-us {
    
// }

@media (min-width: 1360px){
    .standart-navbar-block__nav-links {
        padding-right: 115px;
    }
}