doctype html
html(lang="en")
  include pages/templates/head.pug
  body
    main(class="header-main-block")
      div(class="logo")
        include pages/templates/logo.svg
      include pages/uikit/headers&footers/pug/standart_nav_bar.pug
      include pages/uikit/headers&footers/pug/logged_in_nav_bar.pug
      include pages/uikit/headers&footers/pug/footer-block.pug
      include pages/uikit/headers&footers/pug/creative-block.pug