// @import "./bootstrap/bootstrap.scss";
@font-face {
    font-family: Quicksand-bold;
    src: url("./fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.eot");
    src: url("./fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.otf");
    src: url("./fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.svg");
    src: url("./fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.woff");
    src: url("./fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.ttf");
}

@font-face {
    font-family: Quicksand-regular;
    src: url("./fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.eot");
    src: url("./fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.otf");
    src: url("./fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.svg");
    src: url("./fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.woff");
    src: url("./fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.ttf");
}

@font-face {
    font-family: Montserrat-regular;
    src: url("./fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot");
    src: url("./fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.otf");
    src: url("./fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg");
    src: url("./fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff");
    src: url("./fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-bold;
    src: url("./fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot");
    src: url("./fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.otf");
    src: url("./fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg");
    src: url("./fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff");
    src: url("./fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf");
}

// @font-face {
//     font-family: Montserrat-light;
//     src: url("./fonts/Montserrat/Montserrat-Light/Montserrat-Light.eot");
//     src: url("./fonts/Montserrat/Montserrat-Light/Montserrat-Light.otf");
//     src: url("./fonts/Montserrat/Montserrat-Light/Montserrat-Light.svg");
//     src: url("./fonts/Montserrat/Montserrat-Light/Montserrat-Light.woff");
//     src: url("./fonts/Montserrat/Montserrat-Light/Montserrat-Light.ttf");
// }
@import "./node_modules/air-datepicker/src/sass/datepicker.scss";
@import "./node_modules/air-datepicker/src/sass/navigation.scss";
@import "./node_modules/air-datepicker/src/sass/timepicker.scss";
@import "./node_modules/air-datepicker/src/sass/cell.scss";
@import "~normalize.css/normalize";
@import "./pages/uikit/colors&type/sass/main-block.scss";
@import "./pages/uikit/colors&type/sass/column-color-block.scss";
@import "./pages/uikit/headers&footers/sass/standart_nav_bar.scss";
@import "./pages/uikit/headers&footers/sass/logged_in_nav_bar.scss";
@import "./pages/uikit/headers&footers/sass/footer-block.scss";
@import "./pages/uikit/headers&footers/sass/creative-block.scss";
@import "./pages/uikit/cards/sass/find-room.scss";
// body {
//     background-image: url("./kieren-andrews-697601-unsplash.jpg");
// }